.inicio {
  display: flex;
  height: 90vh;
  width: 100%;
}


@keyframes slideIzq {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDer {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.ladoIzquierdo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(238, 182, 118, 0.8),
    rgba(122, 3, 43, 0.9)
  );
  padding: 20px;
  animation: slideIzq 0.5s ease-out; 
}

.ladoIzquierdo h1 {
  font-size: 50px;
  color: black;
  text-align: left;
}

.ladoIzquierdo p {
  font-size: 40px;
  font-weight: lighter;
  color: black;
  text-align: left;
}

.ladoIzquierdo button {
  color: rgb(241, 215, 141);
  border: none;
  border-radius: 5px;
  background-color: #690225;
  height: 50px;
  width: 180px;
  font-size: 20px;
  text-align: center;
}

.ladoIzquierdo h1:hover {
  color: #ffffff;
  transition: 0.3s ease-in;
}

.ladoIzquierdo p:hover {
  color: #ffffff;
  transition: 0.3s ease-in;
}

.ladoIzquierdo button:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.ladoDerecho {
  width: 50%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: slideDer 0.5s ease-out; 
}


blockquote {
  padding: 20px;
  box-shadow: linear-gradient(0 0 0 2em #690225, 0 0 0 4em rgb(238, 182, 118));
  margin: 4em;
  padding: 1em;
}
