@keyframes arriba {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.tarea1 {
  padding: 20px;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgb(253, 240, 181),
    rgba(252, 166, 195, 0.9)
  );
  animation: arriba 0.7s ease-out;
}

.contenedorTarea1 {
  width: 80%;
  margin: 0 auto;
}

.contenedorTarea1 .tituloTarea1 {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(27, 27, 27, 0.1);
  margin: 10px;
}

.tituloTarea1 {
  font-weight: 400;
  font-size: 40px;
  color: #f0f0f0;
  background-color: #860c35;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.contenedorTarea1 .parrafoTarea1 {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  background-color: #f0f0f0;
}

.parrafoTarea1 {
  font-size: 18px;
  color: #860c35;
}

.parrafoTarea1 ul {
  list-style-type: disc;
  margin: 0;
  padding-left: 20px;
  text-align: left;
}

.parrafoTarea1 li {
  margin-bottom: 10px;
  font-size: 18px;
}

.listaTarea1 {
  margin-top: 20px;
}

.itemTarea {
  background-color: #860c35;
  border-color: #860c35;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.itemTarea.abierto {
  background-color: #ffffff;
  color: #000000;
}

.itemTarea h2 {
  margin: 0;
  color: white;
}

.itemTarea.abierto h2 {
  margin: 0;
  color: #860c35;
}

.itemTarea-contenido {
  display: none;
  text-align: left;
  padding: 20px;
}

.itemTarea.abierto .itemTarea-contenido {
  display: block;
}

.itemTarea .consulta {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px 0;
  border-left: 4px solid #860c35;
  font-style: italic;
}

.itemTarea img {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  margin: 10px 0;
  border-radius: 5px;
}